$Fuente1: 'Lato', sans-serif;
$Fuente2: 'Oswald', sans-serif;
$color-primario: #333333;
$color-claro: #FFFFFF;
$color-secundario: #8841DA;
$color-variacion: #3f579a;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: $Fuente1;
}

main {
	display: flex;
	width: 100%;
	height: 100vh;
}