$Fuente1: 'Lato', sans-serif;
$Fuente2: 'Oswald', sans-serif;
$color-primario: #333333;
$color-claro: #FFFFFF;
$color-secundario: #8841DA;
$color-variacion: #3f579a;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: $Fuente1;
}

main {
	display: flex;
	width: 100%;
	height: 100vh;
}

.perfil {
	width: 50%;
	padding-top: 50px;
	color: $color-claro;
	background-color:$color-secundario;
	&__avatar {
		display: block;
		margin: 0 auto;
		border-radius: 50em;
	}
	&__nombre {
		text-transform: uppercase;
		text-align: center;
		font-size: 20px;
		font-family: $Fuente2;
	}
	&__titulo {
		text-transform: uppercase;
		text-align: center;
		font-weight: 700;
		font-size: 12px;
	}
	&__boton {
		display: block;
		width: 100px;
		height: 40px;
		margin: 15px auto;
		padding-top: 15px;
		border-radius: 20px;
		text-decoration: none;
		text-transform: uppercase;
		text-align: center;
		font-family: $Fuente2;
		color: $color-claro;
	}
}

.estadistica--perfil {
	display: flex;
	width: 50%;
	height: 90px;
	padding-top: 15px;
	margin: 0 auto;
	justify-content: space-around;
	border-radius: 20px;
	background-color: $color-claro;
	h3 {
		font-weight: 600;
		font-size: 20px;
		text-align: center;
		text-transform: uppercase;
		font-family: $Fuente2;
	}
	span {
		font-size: 12px;
		text-align: center;
		text-transform: uppercase;
		font-family: $Fuente2;
	}
}


