.contenido
	margin-bottom: 40px
	justify-content: space-evenly
	contenedor()

.caja 
	max-width: 430px;
	caja-sombra()
	&__contenido
		padding: 20px;
		background-color: color-claro
		span 
			text-transform: uppercase
			color: color-secundario
			font-family: Fuente2
		height
			text-transform: uppercase
			font-weight: normal
			font-family: Fuente2