.encabezado--con-filtros
	contenedor()
	h2 
		margin-top: 10px
		text-transform: uppercase
		font-weight: 500
		font-size: 50px
		font-family: Fuente2
	.filtros
		width: 250px
		height: 75px
		padding: 20px
		margin-left: auto
		caja-sombra()
		span 
			text-transform: uppercase
			font-family: Fuente2
		a
			margin-left: 20px
			font-size: 25px
			color: color-primario