mixin caja(imagen, categoria, titulo, contenido)
	.caja
		.caja__imagen: img(src="../images/"+imagen)
		.caja__contenido
			span.caja__categoria=categoria
			h3=titulo
			p=contenido
			a Leer Mas
doctype html
html
	head
		title PlatziGames
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, maximum-scale=1.0, user-scalable=no')
		link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Oswald:400,500,600,700&display=swap" )
		link(rel='stylesheet', href='../css/platzigames.css')
		script(src='https://kit.fontawesome.com/552ebddad2.js')