.contenido
	margin-bottom: 40px
	justify-content: space-evenly
	contenedor()

.caja 
	max-width: 430px;
	caja-sombra()
	&__contenido
		padding: 20px;
		background-color: color-claro
		span 
			color: color-secundario
			titulos(Fuente2)
		h3
			font-weight: normal
			titulos(Fuente2)

